<div>
  <ba-card cardTitle="Device's Blacklist Information" baCardClass="table-panel">
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal">
      <div class="form-group row" [ngClass]="{'has-error': (!deviceId.valid && deviceId.touched), 'has-success': (deviceId.valid && deviceId.touched)}">
        <label for="inputDeviceId" class="col-sm-2 control-label">Device ID</label>

        <div class="col-sm-10">
          <input [formControl]="deviceId" type="text" class="form-control" id="inputDeviceId" placeholder="Device ID">
        </div>
      </div>

      <div class="form-group row">
        <label for="inputRedirectContent" class="col-sm-2 form-control-label">Redirect Content</label>
        <div class="col-sm-10">
          <textarea [formControl]="redirectContent" class="form-control" id="inputRedirectContent" placeholder="Redirect Content"></textarea>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Profile</label>
        <div class="col-sm-10">
          <div style="max-height: 200px; overflow-y: auto;">
            <table class="table table-hover">
              <thead>
                <tr class="black-muted-bg">
                  <th class="table-id">#</th>
                  <th>Profile Name</th>
                  <th>Description</th>
                  <th class="text-center">
                    <label class="custom-checkbox" style="line-height: 5px;">
                        <input type="checkbox" name="all" [(ngModel)]="selectedAll" (change)="checkAll($event)" [ngModelOptions]="{standalone: true}">
                      <span></span>
                    </label>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of profileList; let i = index">
                  <td class="table-id">{{i + 1}}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.description }}</td>
                  <td class="text-center">
                    <label class="custom-checkbox" style="line-height: 5px;">
                        <input type="checkbox" value="{{item.id}}" [(ngModel)]="item.state" (change)="checkIfAllSelected();" [ngModelOptions]="{standalone: true}">
                      <span></span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputId" class="col-sm-2 form-control-label">ID</label>
        <div class="col-sm-10">
          <input [formControl]="id" type="text" class="form-control" id="inputId" placeholder="ID">
        </div>
      </div>

      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-success btn-with-icon"><i class="ion-android-checkmark-circle"></i>Submit</button>
          <button id="btnUpdateResult" type="button" class="btn btn-default btn-with-icon" (click)="btnUpdateResult_onClick()"><i class="ion-android-download"></i>Update Result</button>
        </div>
      </div>

      <div class="form-group row" [hidden]="!resultList || resultList.length <= 0">
          <label class="col-sm-2 form-control-label">Result</label>
          <div class="col-sm-10">
            <div style="max-height: 200px; overflow-y: auto;">
              <table class="table table-hover">
                <thead>
                  <tr class="black-muted-bg">
                    <th class="table-id">#</th>
                    <th>Result Type</th>
                    <th>Date</th>
                    <th>Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of resultList; let i = index">
                    <td class="table-id">{{i + 1}}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.date }}</td>
                    <td>{{ item.result && item.result.message ? item.result.message : "" }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
    </form>
  </ba-card>
</div>